<div style="background-color: #F9F9F9; padding: 50px 10px;">
    <div style="background-color: #FFFFFF; max-width: 800px; margin: auto; padding: 20px; font-family: Arial; border: 1px solid #F1F1F1;">
        <div style="text-align: center; font-size: 20px; color: #333;">
            <img style="position: relative; top: 7px;" src="https://{{ app.request.httpHost }}/images/logo/logo32.png">
            {% trans %}site_name{% endtrans %}
        </div>
        <h2 style="text-align: center; color: #444444;">{% trans %} emails.invoice.title{% endtrans %} :: {{domain}}</h2>
        <div style="text-align: center;">
            <div style="display: inline-block; text-align: left;">
                <p>
                    {% trans with {
                        '%domain%': domain, 
                        '%price%': app.request.server.get('PRICE'), 
                        '%phone%': app.request.server.get('PHONE')
                        } %} 
                        emails.invoice.text
                    {% endtrans %}
                </p>
            </div>
        </div>
    </div>
</div>